@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Vivek's First DotNet Program</h1>
    <p>This Webpage is made via ASP.NET Web Framework. Learn More -> <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
