@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In egestas nulla sit amet mauris consectetur, vel feugiat lacus tristique. Donec venenatis, metus a ultrices tempor, turpis dui accumsan nisi, et vehicula nunc nulla congue diam. Quisque tincidunt mi turpis, eu suscipit dolor mattis vitae. Fusce ullamcorper congue pharetra. Aenean molestie eros id cursus ultrices. Fusce tincidunt sagittis sem, et imperdiet arcu dapibus a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

    Ut varius suscipit tempus. Nullam at rutrum eros, a scelerisque dui. Ut sodales turpis id tempus convallis. Quisque consequat sit amet quam vel rutrum. Nulla maximus leo malesuada elit iaculis accumsan. Ut pretium semper malesuada. Quisque in turpis a ante ultrices lacinia vel vitae arcu.

    Sed aliquet pharetra convallis. Nulla vulputate tortor semper turpis condimentum mollis. Sed posuere, risus quis congue consequat, urna nisl pulvinar lacus, a sollicitudin massa massa id elit. Nam vitae mattis sem, id cursus mi. Nulla placerat sed augue vitae lacinia. Donec ultrices, ante ac tincidunt fermentum, dui nisi interdum dolor, sit amet consectetur tortor ante non elit. Maecenas volutpat, urna vitae feugiat dapibus, tortor dui commodo lacus, ut vehicula leo mi sit amet lectus..
</p>
